@model IEnumerable<One_Stop_Solution.Models.Categories>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                <a asp-controller="Categoties" asp-action="SortData"> Category Name</a>
                @*@Html.DisplayNameFor(model => model.CategoryName)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>

                    <img height="50" width="50" src="data:image/jpeg;base64,@Convert.ToBase64String(item.Image)">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> 
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.CategoryId">Details</a> 
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>
